body {
    background: url("https://i.imgur.com/7rFc2oM.png") #09f repeat fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    margin: 4px;
}

#header {
    display: flex;
    font-size: 5.5vw;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 10vh;
}

#header strong {
    color: white;
    margin-bottom: 0;
}

#header strong i {
    animation: logo-spin infinite 5s linear;
}

#header p {
    color: white;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

.logo {
    display: inline-block;
    text-shadow: rgba(0,255,38,0.93) 0px 0px 40px;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    box-sizing: border-box;
    justify-content: space-around;
}

.endpoint {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 300px;
    height: 180px;
    filter: none;
    transition: all 0.5s ease-in;
    z-index: inherit;
    margin-bottom: 10px;
    background-color: rgba(19, 32, 31, 0.72);
    border-radius: 10px;
}

.endpoint:hover {
    transform: scale(110%);
    -webkit-box-shadow:0px 0px 23px 0px rgba(0,255,38,0.62);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,255,38,0.62);
    box-shadow: 0px 0px 23px 0px rgba(0,255,38,0.62);
    filter: brightness(130%);
}

.endpoint .description {
    font-size: 0.8em;
    margin-top: 1vh;
    margin-bottom: 0;
    display: -webkit-box;
    max-width: 80%;
    text-align: center;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.endpoint .path {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4vh;
    font-size: 0.8em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 48%;
    height: 15%;
    border-radius: 8px;
    background-color: rgb(19, 19, 19);
    transition: all .5s ease-in-out;
}

.endpoint .path .text {
    width: 70%;
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.endpoint .path i {
    margin-left: 0.9vw;
    margin-right: 0.1vw;
    margin-top: 1%;
}

.endpoint .path:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.btns {
    display: inline-block;
}

button i {
    margin-right: 0.3vw;
}

.btn {
    cursor: pointer;
    padding: 8px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}

.btn + .btn {
    margin-left: 1vw;
}

.link {
    background-color: rgb(54, 157, 47);
}

.link:hover {
    -webkit-box-shadow:0px 0px 19px 0px rgba(54, 157, 47, 0.62);
    -moz-box-shadow: 0px 0px 19px 0px rgba(54, 157, 47, 0.62);
    box-shadow: 0px 0px 19px 0px rgba(54, 157, 47, 0.62);
}

.doc {
    background-color: rgb(0, 153, 255);
}

.doc:hover {
    -webkit-box-shadow:0px 0px 19px 0px rgba(0, 153, 255, 0.62);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 153, 255, 0.62);
    box-shadow: 0px 0px 19px 0px rgba(0, 153, 255, 0.62);
}

.btn:active {
    animation: flash 0.3s;
}

.endpoint .method {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    background-color: royalblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    cursor: default;
}

.method strong {
    opacity: 0;
}

.endpoint .method:hover {
    width: auto;
    height: auto;
    padding: 5.5px 11px;
    border-radius: 10px;
}

.endpoint .method:hover strong {
    animation: forwards makeVisible 0.5s 0.2s ease-in;
}

@keyframes makeVisible {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes flash {
    0%, 100% {
      filter: none;
   }
    50% {
      filter: brightness(200%);
   }
}